* {
box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body fills full viewport height */
    margin: 0;
    background-color: rgb(243, 252, 255);
}

.header {
    display: flex;
    justify-content: center;
    padding: 20px 0 0 20px;
    background-color: rgb(163, 226, 255);
    color: rgb(216, 72, 72);
    font-size: 30px;
}

.scores {
    display: flex;
    justify-content: center;
    gap: 100px;
    background-color: rgb(205, 239, 255);
    color: rgb(216, 72, 72);
    margin-bottom: 20px;
}

 .choices-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 150px;
    margin: 0 auto;
    user-select: none   /* disables text selection */
}

.choices-container > .choice {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin: 0;
    border-style: solid;
    transition: inherit;
}

.buttons {
    display: flex;
    justify-content: space-between;
    min-width: 520px;
}

#right-button {
}

#left-button {
}

.choices-transition {
    transition: 200ms linear
}

.play-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
    border-style: solid;
}

.animation-container {
    position: relative;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: rgb(214, 230, 241);
    border-width: 5px;
    border-radius: 40px;
    margin: 0 auto;
    width: 700px;
    height: 350px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

#round-info {
    position: absolute;
    display: none;
    background-color: rgb(147, 171, 194);
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 1;
}

#round-info > p {
    margin: 0;
    padding: 0;
}

#hands-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.hands {
    width: 280px;
    height: 150px;
    border-style: solid;
}

@keyframes leftHandAnimation {
    0%, 100% {
        transform: rotate(0);
    }
    33.33% {
        transform: rotate(-15deg);
    }
    66.66% {
        transform: rotate(15deg);
    }
}

@keyframes rightHandAnimation {
    0%, 100% {
        transform: rotate(0);
    }
    33.33% {
        transform: rotate(15deg);
    }
    66.66% {
        transform: rotate(-15deg);
    }
}

.footer {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    padding: 10px 0;
    background-color: rgb(163, 226, 255);
}