* {
box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body fills full viewport height */
    margin: 0;
}

.scores {
    display: flex;
    justify-content: center;
    gap: 100px;
    border-style: solid;
}

 .choices-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-style: solid;
    width: 700px;
    height: 250px;
    margin: 0 auto;
}

.choices-container > div {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin: 0;
    border-style: solid;
    transition: inherit;
}

.choices-container > #right-button {
    margin-left: auto;
}

.choices-container > #left-button {
    margin-right: auto;
}

.choices-transition {
    transition: 200ms linear
}

.play-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
    border-style: solid;
}

.animation-container {
    position: relative;
    display: flex;
    flex-direction: column;
    border-style: solid;
    margin: 0 auto;
    width: 700px;
    height: 350px;
    overflow: hidden;
}

#round-info {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    width: 100%;
    z-index: 1;
}

#round-info > p {
    margin: 0;
    padding: 0;
}

#hands-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.hands {
    width: 280px;
    height: 150px;
    border-style: solid;
}

@keyframes leftHandAnimation {
    0%, 100% {
        transform: rotate(0);
    }
    33.33% {
        transform: rotate(-15deg);
    }
    66.66% {
        transform: rotate(15deg);
    }
}

@keyframes rightHandAnimation {
    0%, 100% {
        transform: rotate(0);
    }
    33.33% {
        transform: rotate(15deg);
    }
    66.66% {
        transform: rotate(-15deg);
    }
}

.footer {
    display: flex;
    border-style: solid;
    margin-top: auto;
    justify-content: center;
}